<div id="footer" class="panel">
  <div class="panel-footer">
  	<div class="container-fluid">
  	  <div class="row">

        <div class="col-sm-6">
          <center><a href="http://aiit.org.cn">Advanced Institute of Information Technology</a></center>
          <center>233 Yonghui Road, Hangzhou, ZJ, China, 311215</center>
    		</div>

        <div class="col-sm-6">
          <center><a href="https://www.broadinstitute.org"> Broad Institute</a> <br>
      		  75 ames street, Cambridge, MA, US, 02142 <br>
          </center>
    		</div>
        <!-- Here we need icons of all partner Affiliations.
        <a href="https://www.mit.edu">Massachusetts Institute of Technology</a>
        <a href="https://www.harvard.edu">Harvard University</a>
        <a href="https://www.harvard.edu">Massachusetts General Hospital</a>
        <a href="https://www.hsph.harvard.edu">Harvard School of Public Health</a>
        <a href="https://www.brighamandwomen.org">Brigham and Women Hospital</a>
        <a href="https://hms.harvard.edu">Harvard Medical School</a> -->
      </div>
  	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
