<div id="footer" class="panel">
  <div class="panel-footer">
  	<div class="container-fluid">
  	  <div class="row">

        <div class="col-sm-6">
          <center><a href="http://aiit.org.cn">Advanced Institute of Information Technology</a></center>
          <center>233 Yonghui Road, Hangzhou, ZJ, China, 311215</center>
    		</div>

        <div class="col-sm-6">
          <center><a href="https://www.broadinstitute.org"> Broad Institute</a> </center>
    		  <center>75 ames street, Cambridge, MA, US, 02142 </center>
    		</div>

      </div>
  	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
