.contact-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 32px 0px;
}

.section-content {
  display: flex;
  align-items: center;
  gap: 64px;
}

.section-header {
  width: 263px;
  position: relative;
}

.quote-mark-large {
  width: 142px;
  height: 116px;
  /* opacity: 0.3; */
}

.section-title {
  position: absolute;
  left: 39px;
  top: 56px;
  color: #1C1F23;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-top: 0;
}

.content-area {
  flex: 1;
}

.contact-card {
  padding: 32px;
  background: white;
  border-radius: 8px;
  border: 1px solid #E6E8EA;
}

.card-content {
  margin-bottom: 16px;
}

.small-quote {
  width: 16px;
  height: 13px;
  margin-bottom: 16px;
}

.card-title {
  color: #1C1F23;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.card-text {
  color: #1C1F23;
  font-size: 20px;
  line-height: 28px;
}

.divider {
  border: 1px solid #C6C9CD;
  margin: 32px 0;
} 