---
layout: default
---
<div class="hero-section" style="background-image: url('{{ site.url }}{{ site.baseurl }}/images/background.png');">
    <div class="hero-content">
      <h1>The Xiao Li Lab</h1>
      
      <p>
        We aspire to benefit humanity via delivery and scale of world-class science, through bleeding edge computational technologies.
      </p>
  
      <div class="action-buttons">
        <a href="{{ site.url }}{{ site.baseurl }}/join" class="btn btn-join">Join our lab</a>
        <a href="{{ site.url }}{{ site.baseurl }}/contact" class="btn btn-contact">Contact</a>
      </div>
    </div>
  </div>
</div>
{{ content }}
